<!DOCTYPE html>
<html lang="en-US">

	<head>

		<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
		<meta name="description" content="Password Helper Web Application">
		<meta name="keywords" content="Password Helper" >
		<meta name="authors" content="Evan Smith">

		<title>Password Helper</title>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  		<style>
  			#mainDiv {
  				background-color : rgb(295,225,180);
  			}
  			#outsideDiv {
  				background-color : rgb(150,150,150);
  			}
  			#outerDiv {
  				background-color : rgb(100,100,100);
  			}
  		</style>

	</head>
	<body>
		<center>
		<div id="outerDiv" class="col-sm-12">
			<div id="outsideDiv" class="col-sm-12">
				<div id="mainDiv" class="col-sm-12">

					<h3>Forgotten Password Question Helper</h3>
					<form action="http://127.0.0.1:3000/user/" method="POST">
					  <div class="form-group has-success has-feedback">
					    <label class="col-sm-3" for="exampleFirstName">First Name:</label> 
					    <div class="col-sm-9">
						    <input name="firstname" class="form-control" id="exampleFirstName" placeholder="John">
						</div>
					  </div>
					  <div class="form-group has-success has-feedback">
					    <label class="col-sm-3" for="exampleLastName">Last Name:</label>
					    <div class="col-sm-9">
						    <input name="lastname" class="form-control" id="exampleLastName" placeholder="Smith">
						</div>
					  </div>
					  <div class="form-group has-success has-feedback">
					    <label class="col-sm-3" for="exampleWebsite">Website:</label>
					    <div class="col-sm-9">
						    <input name="website" class="form-control" id="exampleWebsite" placeholder="Facebook">
						</div>
					  </div>
					  <div class="form-group has-success has-feedback">
					    <label class="col-sm-3" for="Question1"> Question #1: </label>
					    <div class="col-sm-9">
					    	<input name="question1" class="form-control" id="Question1" placeholder="Kindergarten Teacher">
					    </div>
					    <label class="col-sm-3" for="Answer1"> Answer #1: </label>
					    <div class="col-sm-9">
					    	<input name="answer1" class="form-control" id="Answer1" placeholder="Ms. Temple">
					    </div>
					  </div>
					  <div class="form-group has-success has-feedback">
					    <label class="col-sm-3" for="Question2"> Question #2: </label>
					    <div class="col-sm-9">
						    <input name="question2" class="form-control" id="Question2" placeholder="First Car's Maker">
						</div>
					    <label class="col-sm-3" for="Answer2"> Answer #2: </label>
					    <div class="col-sm-9">
					    	<input name="answer2" class="form-control" id="Answer2" placeholder="Saturn">
					    </div>
					  </div>
					  <div class="form-group has-success has-feedback">
					    <label class="col-sm-3" for="Question3"> Question #3: </label>
					    <div class="col-sm-9">
						    <input name="question3" class="form-control" id="Question3" placeholder="Mom's Maiden Name">
						</div>
					    <label class="col-sm-3" for="Answer3"> Answer #3: </label>
					    <div class="col-sm-9">
						    <input name="answer3" class="form-control" id="Answer3" placeholder="Brown">
						</div>
					  </div>
					  <div class="form-group">
						  <input value="Submit" type="submit"></input>
						  <a href="http://127.0.0.1:3000/"><input type="button" value="Home"></input></a>
					  </div>
					</form>
				</div>
			</div>
		</div>
		</center>
	</body>
</html>
