<!DOCTYPE html>
<html lang="en-US">

	<head>

		<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
		<meta name="description" content="Password Helper Web Application">
		<meta name="keywords" content="Password Helper" >
		<meta name="authors" content="Evan Smith">

		<title>Password Helper</title>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  		<style>
  			#mainDiv {

  				padding-left : 30px;
  				padding-top : 30px;
  				font-size : 20px;
  			}
  		</style>

	</head>
	<body>
		<div class="col-xs-6">

			<p>Forgotten Password Question Helper</p>
			<form>
			  <div class="form-group">
			    <label for="exampleFirstName">First Name</label>
			    <input type="firstname" class="form-control" id="exampleFirstName" placeholder="John">
			  </div>
			  <div class="form-group">
			    <label for="exampleLastName">Last Name</label>
			    <input type="lastname" class="form-control" id="exampleLastName" placeholder="Smith">
			  </div>
			  <div class="form-group">
			    <label for="exampleWebsite">Website</label>
			    <input type="website" class="form-control" id="exampleWebsite" placeholder="Facebook">
			  </div>
			  <div class="form-group">
			    <label for="Question1">Question #1</label>
			    <input type="question1" class="form-control" id="Question1" placeholder="Kindergarten Teacher's Name">
			  </div>
			  <div class="form-group">
			    <label for="Answer1">Answer #1</label>
			    <input type="answer1" class="form-control" id="Answer1" placeholder="Ms. Temple">
			  </div>
			  <div class="form-group">
			    <label for="Question2">Question #2</label>
			    <input type="question2" class="form-control" id="Question2" placeholder="First Car's Automotive Maker">
			  </div>
			  <div class="form-group">
			    <label for="Answer2">Answer #2</label>
			    <input type="answer2" class="form-control" id="Answer2" placeholder="Saturn">
			  </div>
			  <div class="form-group">
			    <label for="Question3">Question #3</label>
			    <input type="question3" class="form-control" id="Question3" placeholder="Mom's Maiden Name">
			  </div>
			  <div class="form-group">
			    <label for="Answer3">Answer #3</label>
			    <input type="answer3" class="form-control" id="Answer3" placeholder="Brown">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>

			</form>

			<form action="http://127.0.0.1:3000/user/" method="POST">
				First name: <input type="text" name="firstname"><br>
				Last name: <input type="text" name="lastname"><br>
				Website: <input type="text" name="website"><br>
				Q/A 1: <input type="text" name="question1"> <input type="text" name="answer1"><br>
				Q/A 2: <input type="text" name="question2"> <input type="text" name="answer2"><br>
				Q/A 3: <input type="text" name="question3"> <input type="text" name="answer3"><br>
				<input type="submit" value="Submit">
				<a href="http://127.0.0.1:3000/"><input type="button" value="Already a User"></a>
				<br>
			</form>
      		<p> {{ firstname }} {{ lastname }} </p>
      		<p> {{ question1 }} {{ answer1 }} </p>
      		<p> {{ question2 }} {{ answer2 }} </p>
      		<p> {{ question3 }} {{ answer3 }} </p>
		</div>
	</body>
</html>
