<!DOCTYPE html>
<html lang="en-US">

	<head>

		<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
		<meta name="description" content="Fire Up Investments, LLC">
		<meta name="keywords" content="Fire Up Investments, Fire Up, Investments" >
		<meta name="authors" content="Evan Smith">

		<title>Test Webpage</title>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  		<style>
  			#mainDiv {

  				padding-left : 30px;
  				padding-top : 30px;
  				font-size : 20px;
  			}
  		</style>

	</head>
	<body>
		<div id="mainDiv">

			<p>Forgotten Password Question Helper</p>
			<form action="http://127.0.0.1:3000/user/" method="POST">
				First name: <input type="text" name="firstname"><br>
				Last name: <input type="text" name="lastname"><br>
				Q/A 1: <input type="text" name="question1"> <input type="text" name="answer1"><br>
				Q/A 2: <input type="text" name="question2"> <input type="text" name="answer2"><br>
				Q/A 3: <input type="text" name="question3"> <input type="text" name="answer3"><br>
				<input type="submit" value="Submit">
				<a href="http://127.0.0.1:3000/"><input type="button" value="Already a User"></a>
				<br>
			</form>
      		<p> {{ firstname }} {{ lastname }} </p>
      		<p> {{ question1 }} {{ answer1 }} </p>
      		<p> {{ question2 }} {{ answer2 }} </p>
      		<p> {{ question3 }} {{ answer3 }} </p>
		</div>
	</body>
</html>
